{% if project_type in ["api-monolith", "api-microservice"] %}
from .filter_params import FilterParams
{% endif %}
{% if project_type == "api-microservice" or (project_type == "agent" and "sqladmin" in plugins) %}
from .user import UserCreate, UserRead, UserUpdate
{% endif %}

__all__ = [
{% if project_type in ["api-monolith", "api-microservice"] %}
    "FilterParams",
{% endif %}
{% if project_type == "api-microservice" or (project_type == "agent" and "sqladmin" in plugins) %}
    "UserCreate",
    "UserRead",
    "UserUpdate",
{% endif %}
]
