#--- APP ---#
ENVIRONMENT="local"
CORS_ORIGINS=["http://localhost:8000", "https://localhost:8000", "http://localhost", "https://localhost"]
SERVER_HOST="https://new_project_name.dev"

#--- DB ---#
DB_HOST=localhost
DP_PORT=5432
DB_NAME={{project_name}}
DB_USER=user
DB_PASSWORD=password