from logging import INFO, basicConfig

{% if project_type in ["api-monolith", "api-microservice"] %}
from fastapi import FastAPI, Request
from fastapi.exceptions import RequestValidationError
{% elif project_type == "agent" %}
from fastapi import FastAPI
{% elif project_type == "mcp-server" %}
from fastmcp import FastMCP
{% endif %}
{% if "sqladmin" in plugins %}
from sqladmin import Admin
{% endif %}

from app.config import settings
{% if project_type in ["api-monolith", "api-microservice"] %}
from app.utils.exceptions import handle_exception
{% endif %}
{% if project_type in ["api-monolith", "api-microservice", "agent"] %}
from app.api import head_router
{% elif project_type == "mcp-server" %}
from app.mcp import mcp_router
{% endif %}
{% if "sqladmin" in plugins %}
from app.database import engine
from app.integrations.sqladmin.views import add_admin_views
{% endif %}

basicConfig(level=INFO, format="[%(asctime)s - %(name)s] (%(levelname)s) %(message)s")

{% if project_type in ["api-monolith", "api-microservice", "agent"] %}
api = FastAPI(title=settings.api_name)
{% if "sqladmin" in plugins %}
admin = Admin(app=api, engine=engine)
add_admin_views(admin)
{% endif %}


@api.get("/")
async def root() -> dict[str, str]:
    return {"message": "Server is running!"}
{% endif %}

{% if project_type in ["api-monolith", "api-microservice"] %}
@api.exception_handler(RequestValidationError)
async def request_validation_exception_handler(_: Request, exc: RequestValidationError) -> None:
    raise handle_exception(exc, err_msg=exc.args[0][0]["msg"])
{% endif %}

{% if project_type == "mcp-server" %}
mcp = FastMCP(name=settings.mcp_server_name)
{% endif %}


{% if project_type in ["api-monolith", "api-microservice", "agent"] %}
api.include_router(head_router, prefix=settings.api_latest)
{% elif project_type == "mcp-server" %}
mcp.mount(mcp_router)
{% endif %}