services:
  db:
    image: postgres:18
    container_name: postgres__{{project_name}}
    environment:
      POSTGRES_DB: {{project_name}}
      POSTGRES_USER: {{project_name}}
      POSTGRES_PASSWORD: {{project_name}}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{project_name}} -d {{project_name}}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql

  app:
    build:
        context: .
        dockerfile: Dockerfile
    container_name: backend__{{project_name}}
    image: {{project_name}}:latest
    command: scripts/start/app.sh
    env_file:
      - ./config/.env
    environment:
      - DB_HOST=db
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./app:/root_project/app
      - type: bind
        source: ./config/.env
        target: /root_project/config/.env
        bind:
          create_host_path: false
    restart: on-failure

  celery-worker:
    container_name: celery-worker__{{project_name}}
    image: {{project_name}}:latest
    command: scripts/start/worker.sh
    volumes:
      - .:/root_project
      - /root_project/.venv
    env_file:
      - config/.env
    depends_on:
      - redis
      - db

  celery-beat:
    container_name: celery-beat__{{project_name}}
    image: {{project_name}}:latest
    command: scripts/start/beat.sh
    volumes:
      - .:/root_project
      - /root_project/.venv
    env_file:
      - config/.env
    depends_on:
      - redis
      - db

  flower:
    container_name: flower__{{project_name}}
    image: {{project_name}}:latest
    command: scripts/start/flower.sh
    volumes:
      - .:/root_project
      - /root_project/.venv
    env_file:
      - config/.env
    ports:
      - 5555:5555
    depends_on:
      - redis
      - db

  redis:
    container_name: redis__{{project_name}}
    image: redis:8
    volumes:
      - redis_data:/var/lib/redis/data

volumes:
  postgres_data:
  redis_data: